.DS_Store
.idea
observatorio_de_obras_urbanas.db
__pycache__/
markerian-coscarelli-mele-vanotti-joyce/app/__pycache__/
observatorio_de_obras_urbanas.db
markerian-coscarelli-mele-vanotti-joyce/app/__pycache__/gestionar_obra_imp.cpython-311.pyc
markerian-coscarelli-mele-vanotti-joyce/app/__pycache__/gestionar_obra.cpython-311.pyc
observatorio_de_obras_urbanas.db
observatorio_de_obras_urbanas.db
observatorio_de_obras_urbanas.db-shm
observatorio_de_obras_urbanas.db-wal
markerian-coscarelli-mele-vanotti-joyce/app/__pycache__/gestionar_obra_imp.cpython-311.pyc
observatorio_de_obras_urbanas.db
observatorio_de_obras_urbanas.db
markerian-coscarelli-mele-vanotti-joyce/data/mapaObras.html
